@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 14px;
}

a:hover {
    color: #2a9d8f;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2a9d8f;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

a.active {
    color: #2a9d8f;
}

.active::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2a9d8f;
    transform: scaleX(1);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

nav {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}