<nav class="navbar navbar-expand-lg navbar-light wsui-shadow-on-scroll">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Studentų mintys</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span> </span>
          <span> </span>
          <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a routerLink="/jausmai" routerLinkActive="active">Kaip tu jautiesi?</a>
                <a routerLink="/klausimai" routerLinkActive="active">Prasmingi klausimai</a>
                <a routerLink="/naudinga" routerLinkActive="active">Naudinga žinoti</a>
                <a routerLink="/pagalba" routerLinkActive="active">Kaip padėti kitam?</a>
                <a routerLink="/mes" routerLinkActive="active">Apie mus</a>
            </div>
        </div>
    </div>
</nav>