@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 14px;
}

a:hover {
    color: #2a9d8f;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2a9d8f;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

a:hover::before {
    transform: scaleX(1);
}

a.active {
    color: #2a9d8f;
}

.active::before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2a9d8f;
    transform: scaleX(1);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

nav {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Define the shape and color of the hamburger lines */

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler:active {
    border: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}


/* top line needs a little padding */

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}


/**
 * Animate collapse into X.
 */


/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}


/* center line goes transparent */

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}


/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}


/**
 * Animate collapse open into hamburger menu
 */


/* top line moves back to initial position and rotates back to 0 degrees */

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}


/* middle line goes back to regular color and opacity */

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}


/* bottom line goes back to initial position and rotates back to 0 degrees */

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}